<form action="/login" method="POST" class="form-signin">
    <div class="text-center mb-4">
        <img class="mb-4" src="../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <p>Please enter your credentials.
        </p>
    </div>

    <div class="form-label-group">
        <input name="username" type="text" id="inputUsername" class="form-control" placeholder="username" required
            autofocus>
        <label for="inputUsername">Username</label>
    </div>

    <div class="form-label-group">
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    {{!-- <div class="mb-3">
        <label>
            <a href="#">Forgot Password?</a>
        </label>
    </div> --}}
    <div class="mb-3">
        <label>
            <span>Don't have an account? </span>
            <a href="/signup">Sign up</a>
        </label>
    </div>



    <button class="btn btn-lg btn-primary btn-block" type="submit" {{> error this}} {{> success this}}>Sign in</button>

</form>