<!-- Header -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light display-4">Second Home</h1>
        <p class="lead display-5">Give away the stuff you don't need anymore.</p>
        <p class=" display-5">{{#if currentUser}}Welcome back {{currentUser.username}}! {{/if}}</p>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->

<section class="py-5 my-3">
  <div class="container">
    <h2 class="font-weight-light">Page Content</h2>
    <p>A platform for donating what no longer serves you, and for anyone that is looking (or just browsing) for a
      special
      something to get for free.
      <br>
      No personal cost + no environmental cost, and two happy parties.</p>
    <p>A platform for donating what no longer serves you, and for anyone that is looking (or just browsing) for a
      special
      something to get for free.
      <br>
      No personal cost + no environmental cost, and two happy parties.</p>
  </div>
</section>

<!-- Marketing messaging and featurettes
  ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->


<div class="container marketing py-5 my-3">
  <div class="row">
    {{#each uniqueCategories}}
    {{#if this}}
    <div class="col-lg-4">
      <a href="/listings?category={{this}}">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
        <title>{{this}}</title>
        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      </svg>
      </a>
     <h2 class="my-2 py-2">{{this}}</h2>
    </div><!-- /.col-lg-4 -->
    {{/if}}
    {{/each}}
  </div><!-- /.row -->
</div>

<section class="py-5 my-3">
  <div class="container">
    <h2 class="font-weight-light">Page Content</h2>
    <p>A platform for donating what no longer serves you, and for anyone that is looking (or just browsing) for a
      special
      something to get for free.
      <br>
      No personal cost + no environmental cost, and two happy parties.</p>
    <p>A platform for donating what no longer serves you, and for anyone that is looking (or just browsing) for a
      special
      something to get for free.
      <br>
      No personal cost + no environmental cost, and two happy parties.</p>
  </div>
</section>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Want</h2>
      <p class="lead">Check the Want listings.</p>
      <a href="/listings/?listingType=Want" class="btn btn-primary">See more</a>
    </div>
    <div class="bg-light shadow-sm mx-auto d-flex align-items-center justify-content-center" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
    </div>
  </div>

  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Offer</h2>
      <p class="lead">Have a look at the Offer listings</p>
        <a href="/listings/?listingType=Offer" class="btn btn-primary">See more</a>
    </div>
    <div class="bg-dark shadow-sm mx-auto d-flex align-items-center justify-content-center" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
    </div>
  </div>
</div>





<!-- Footer -->
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>
<!-- /. Footer -->