<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>

  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">


  {{!-- BOOTSTRAP CSS --}}
  <link rel="stylesheet" href="/css/bootstrap.css">

  {{!-- <link rel="stylesheet" href="/stylesheets/auth.css"> --}}
  <link rel="stylesheet" href="/stylesheets/style.css" />

  {{!-- jquery first, then Popper, then Bootstrap js --}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>


  {{!-- LEAFLET --}}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>


{{!-- PLACES.JS --}}
      <script src="https://cdn.jsdelivr.net/npm/places.js@1.18.2"></script>




  {{!-- <link href="/css/summernote.css" rel="stylesheet">
  <script src="/js/summernote.js"></script> --}}

</head>

<body>

  <!--Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="d-flex flex-grow-1">
      <span class="w-100 d-lg-none d-block">
        <!-- hidden spacer to center brand on mobile --></span>
      <a class="navbar-brand" href="/"><span><i class="fas fa-home"></i> </span>
        secondHome
      </a>
      <div class="w-100 text-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseMe">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="collapseMe">
      <ul class="navbar-nav ml-auto flex-nowrap">
        {{#if currentUser}}
        <li class="nav-item">
          <a href="/notifications" class="nav-link"><i class="fa fa-envelope"></i> Notifications</a>
        </li>
        <li class="nav-item">
          <a href="/listings/add" class="nav-link"><i class="fa fa-plus"></i> Add a new Listing</a>
        </li>
        {{/if}}
        <li class="nav-item">
          <a href="/listings" class="nav-link"><i class="fa fa-gift"></i> Check all listings</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenu" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"><i class="fa fa-user"></i> Profile </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-green" aria-labelledby="navbarDropdownMenu">

            {{#unless currentUser}}
            <a class="dropdown-item" href="/login">Login</a>
            <a class="dropdown-item" href="/signup">Sign Up</a>
            {{/unless}}

            {{#if currentUser}}
            <a class="dropdown-item" href="/my-posted-listings">My Listings</a>
            <a class="dropdown-item" href="/my-wanted-listings">My Wishlist</a>
            <a class="dropdown-item" href="/">User Settings</a>
            <a class="dropdown-item" href="/logout">Logout</a>
            {{/if}}
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!--/.Navbar -->


  <div class="d-flex flex-column" id="page-content">
    {{{body}}}
  </div>


  {{!-- <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUfJZN1uV7J2dxoszGdIURX7io3rlRBwY&libraries=places&callback=initAutocomplete"
  async defer></script> --}}

  
  <script src="/javascripts/script.js"></script>
</body>

</html>